In [36]:
import numpy as np
import pandas as pd

In [37]:
from numpy.random import randn

In [60]:
numbers = randn(5, 4)

# DataFrame

In [66]:
# Shift + Tab
# data, index, columns
df = pd.DataFrame(numbers, ["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"])

In [67]:
numbers

array([[ 0.30266545,  1.69372293, -1.70608593, -1.15911942],
       [-0.13484072,  0.39052784,  0.16690464,  0.18450186],
       [ 0.80770591,  0.07295968,  0.63878701,  0.3296463 ],
       [-0.49710402, -0.7540697 , -0.9434064 ,  0.48475165],
       [-0.11677332,  1.9017548 ,  0.23812696,  1.99665229]])

In [68]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [63]:
type(df)

pandas.core.frame.DataFrame

# 列をselect

In [43]:
# W列をselect
df["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [44]:
# W,Zをselect
df[["W", "Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [56]:
# 1列のことをSeriesと呼んでいる
type(df["W"])

pandas.core.series.Series

# 行をselect

In [65]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [69]:
df.loc["A"]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [59]:
# 1行のこともSeriesと呼んでいる
type(df.loc["A"])

pandas.core.series.Series

In [71]:
# 行番号でSelectもできる
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

# 行・列をselect

In [73]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [74]:
# BのY
df.loc["B", "Y"]

0.16690463609281317

In [76]:
# AとBの、XとY
df.loc[["A","B"], ["X", "Y"]]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905

# new column

In [45]:
df["new"] = df["W"] + df["Y"]

In [46]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

# drop column

In [47]:
# もとのdfからは消えていない
# axisは、0:row, 1:col
df.drop("new", axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [49]:
# もとのdfからも消す場合
# axisは、0:row, 1:col
df.drop("new", axis=1, inplace=True)

In [50]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# drop row

In [51]:
# axisは、0:row, 1:col
df.drop("E", axis=0, inplace=False)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

# shape

In [54]:
# (row, col)のtupleが返ってくる。なので、axisは、0:row, 1:col
df.shape

(5, 4)