In [5]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")

# ageには?がたくさんある

In [7]:
titanic["age"].value_counts()

?         263
24         47
22         43
21         41
30         40
         ...
66          1
0.6667      1
76          1
67          1
26.5        1
Name: age, Length: 99, dtype: int64

# ?をNoneに置き換える

In [9]:
# replace("?", None)だと結果が変になっていたバージョンもあるらしい
titanic["age"].replace("?", None).value_counts()

24        47
22        43
21        41
30        40
18        39
          ..
0.3333     1
22.5       1
70.5       1
0.6667     1
26.5       1
Name: age, Length: 98, dtype: int64

In [8]:
# Noneがカウントされない
titanic["age"].replace(["?"], [None]).value_counts()

24        47
22        43
21        41
30        40
18        39
          ..
0.3333     1
22.5       1
70.5       1
0.6667     1
26.5       1
Name: age, Length: 98, dtype: int64

In [11]:
# Noneもカウントする
titanic["age"].replace(["?"], [None]).value_counts(dropna=False)

None      263
24         47
22         43
21         41
30         40
         ...
66          1
0.6667      1
76          1
67          1
26.5        1
Name: age, Length: 99, dtype: int64