In [9]:
import pandas as pd
btc = pd.read_csv("coin_Bitcoin.csv")
countries = pd.read_csv("world-happiness-report-2021.csv")
houses = pd.read_csv("kc_house_data.csv")
titanic = pd.read_csv("titanic.csv")
netflix = pd.read_csv("netflix_titles.csv", sep="|")

In [10]:
titanic["age"].value_counts(dropna=False)

?         263
24         47
22         43
21         41
30         40
         ...
66          1
0.6667      1
76          1
67          1
26.5        1
Name: age, Length: 99, dtype: int64

In [11]:
titanic["age"].replace("?", None, inplace=True)

In [18]:
titanic["age"].value_counts(dropna=False)

NaN        263
24.0000     47
22.0000     43
21.0000     41
30.0000     40
          ...
66.0000      1
0.6667       1
76.0000      1
67.0000      1
26.5000      1
Name: age, Length: 99, dtype: int64

In [14]:
titanic["age"] = titanic["age"].astype("float")

In [15]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   object
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 143.3+ KB

In [16]:
titanic["age"].mean()

29.8811345124283