In [1]:
import pandas as pd
sales = pd.read_csv("sales.csv")

In [2]:
sales

   rating  shipping_zip  billing_zip
0     5.0           NaN      81220.0
1     4.5       94931.0      94931.0
2     NaN       92625.0      92625.0
3     4.5       10003.0      10003.0
4     4.0           NaN      92660.0
5     NaN           NaN          NaN
6     NaN       60007.0      60007.0

In [3]:
sales["shipping_zip"].fillna(sales["billing_zip"], inplace=True)

In [4]:
sales

   rating  shipping_zip  billing_zip
0     5.0       81220.0      81220.0
1     4.5       94931.0      94931.0
2     NaN       92625.0      92625.0
3     4.5       10003.0      10003.0
4     4.0       92660.0      92660.0
5     NaN           NaN          NaN
6     NaN       60007.0      60007.0