In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
numbers = randn(5, 4)

In [2]:
# Shift + Tab
# data,index,columns
df = pd.DataFrame(numbers, ["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"])

# 0より大きいものをselect

In [3]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [4]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

# W列で0より大きいものをselect

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
# Seriesが戻ってくる
df["W"] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [7]:
# これだとDataFrame
df[df["W"] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
# 分解
boolser = df["W"] > 0
result = df[boolser]
result["W"]

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: W, dtype: float64

# 複数条件

In [8]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
# and ではなく、& を使う
df[(df["W"] > 0) & (df["Y"] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [10]:
# or ではなく、| を使う
df[(df["W"] > 0) | (df["Y"] > 1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509