In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
numbers = randn(5, 4)

In [2]:
# Shift + Tab
# data,index,columns
df = pd.DataFrame(numbers, ["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"])

# indexをリセット

In [3]:
# indexが数値になって、もとのindexがカラムになる
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

# indexを再設定

In [4]:
new_idx = "CA NY WY OR CO".split()

In [5]:
# 新しい列を作る
df["States"] = new_idx

In [6]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [7]:
# もとのindexを上書き
df.set_index("States")

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509