In [1]:
import pandas as pd

In [4]:
left = pd.DataFrame({
    "key": ["K0", "K1", "K2"],
    "A": ["A0", "A1", "A2"],
    "B": ["B0", "B1", "B2"]
})

In [9]:
right = pd.DataFrame({
    "key": ["K0", "K1", "K2", "K3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"]
})

In [6]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [10]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

# inner

In [11]:
pd.merge(left, right, how="inner", on="key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

# outer

In [12]:
pd.merge(left, right, how="outer", on="key")

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

# left

In [15]:
pd.merge(left, right, how="left", on="key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2