In [1]:
import pandas as pd

In [2]:
left = pd.DataFrame({
    "A": ["A0", "A1", "A2"],
    "B": ["B0", "B1", "B2"]
},
index=[0, 1, 2]
)

In [3]:
right = pd.DataFrame({
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"]
},
index=[0, 1, 2, 4]
)

In [5]:
left

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [6]:
right

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
4  C3  D3

# join *indexでjoinする

In [4]:
left.join(right)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [7]:
right.join(left, how="outer")

    C   D    A    B
0  C0  D0   A0   B0
1  C1  D1   A1   B1
2  C2  D2   A2   B2
4  C3  D3  NaN  NaN