In [9]:
import numpy as np

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(
{
    "col1": [1, 2, 3, 4],
    "col2": [444, 555, 666, 444],
    "col3": ["abc", "def", "ghi", "xyz"]
})

In [12]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

# unique

In [15]:
# uniqueはSeriesのmethod
# https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html
df["col2"].unique()

array([444, 555, 666], dtype=int64)

In [14]:
type(df["col2"].unique())

numpy.ndarray

In [8]:
df["col2"].nunique()

3

# value_counts

In [10]:
df["col2"].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [8]:
type(df["col2"].value_counts())

pandas.core.series.Series

# apply

In [11]:
def times2(x):
    return x * 2

In [12]:
df["col1"].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [13]:
df["col1"].apply(lambda x: x * 2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

# sort_values

In [15]:
df.sort_values(by="col2", ascending=False)

   col1  col2 col3
2     3   666  ghi
1     2   555  def
0     1   444  abc
3     4   444  xyz