In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
numbers = randn(5, 4)

# DataFrame

In [5]:
# Shift + Tab
# data,index,columns
df = pd.DataFrame(numbers, ["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"])

In [6]:
numbers

array([[-1.78715992,  0.19500148,  0.2178888 ,  0.46897758],
       [ 2.29500428, -0.38328162, -0.11524038,  1.54632928],
       [-0.45246282, -0.86994966, -0.40716796, -0.4250931 ],
       [-1.31776463,  0.57361647, -0.90375558,  0.18326855],
       [ 1.92897524, -0.01993062,  0.96987677, -0.27659517]])

In [7]:
df

          W         X         Y         Z
A -1.787160  0.195001  0.217889  0.468978
B  2.295004 -0.383282 -0.115240  1.546329
C -0.452463 -0.869950 -0.407168 -0.425093
D -1.317765  0.573616 -0.903756  0.183269
E  1.928975 -0.019931  0.969877 -0.276595

In [8]:
type(df)

pandas.core.frame.DataFrame

# 列をselect

In [9]:
# W列をselect
df["W"]

A   -1.787160
B    2.295004
C   -0.452463
D   -1.317765
E    1.928975
Name: W, dtype: float64

In [10]:
# W,Zをselect
df[["W", "Z"]]

          W         Z
A -1.787160  0.468978
B  2.295004  1.546329
C -0.452463 -0.425093
D -1.317765  0.183269
E  1.928975 -0.276595

In [11]:
# 1列のことをSeriesと呼んでいる
type(df["W"])

pandas.core.series.Series

In [13]:
# 複数列になると、DataFrameになる
type(df[["W", "X"]])

pandas.core.frame.DataFrame

# 行をselect

In [65]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [69]:
df.loc["A"]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [59]:
# 1行のこともSeriesと呼んでいる
type(df.loc["A"])

pandas.core.series.Series

In [71]:
# 行番号でSelectもできる
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

# 行・列をselect

In [73]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [74]:
# BのY
df.loc["B", "Y"]

0.16690463609281317

In [76]:
# AとBの、XとY
df.loc[["A","B"], ["X", "Y"]]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905

# new column

In [45]:
df["new"] = df["W"] + df["Y"]

In [46]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

# drop column

In [47]:
# もとのdfからは消えていない
# axisは、0:row, 1:col
df.drop("new", axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [49]:
# もとのdfからも消す場合
# axisは、0:row, 1:col
df.drop("new", axis=1, inplace=True)

In [50]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# drop row

In [51]:
# axisは、0:row, 1:col
df.drop("E", axis=0, inplace=False)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

# shape

In [54]:
# (row, col)のtupleが返ってくる。なので、axisは、0:row, 1:col
df.shape

(5, 4)