In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
numbers = randn(5, 4)

In [2]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [3]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
numbers = randn(6, 2)
numbers

array([[ 0.30266545,  1.69372293],
       [-1.70608593, -1.15911942],
       [-0.13484072,  0.39052784],
       [ 0.16690464,  0.18450186],
       [ 0.80770591,  0.07295968],
       [ 0.63878701,  0.3296463 ]])

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

# Shift + Tab
# data,index,columns
df = pd.DataFrame(numbers, hier_index, ["A", "B"])

In [6]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [21]:
df.loc["G1"]

               A         B
Number
1       0.302665  1.693723
2      -1.706086 -1.159119
3      -0.134841  0.390528

In [11]:
df.loc["G1"].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

# indexに名前をつける

In [12]:
df.index.names = ["Groups","Number"]

In [13]:
df

                      A         B
Groups Number
G1     1       0.302665  1.693723
       2      -1.706086 -1.159119
       3      -0.134841  0.390528
G2     1       0.166905  0.184502
       2       0.807706  0.072960
       3       0.638787  0.329646

# G2-2のB列

In [14]:
df

                      A         B
Groups Number
G1     1       0.302665  1.693723
       2      -1.706086 -1.159119
       3      -0.134841  0.390528
G2     1       0.166905  0.184502
       2       0.807706  0.072960
       3       0.638787  0.329646

In [18]:
df.loc["G2"].loc[2]["B"]

0.07295967531703869

# Number=1のみ

In [16]:
df

                      A         B
Groups Number
G1     1       0.302665  1.693723
       2      -1.706086 -1.159119
       3      -0.134841  0.390528
G2     1       0.166905  0.184502
       2       0.807706  0.072960
       3       0.638787  0.329646

In [24]:
df.xs(1, level="Number")

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502