In [1]:
import pandas as pd

# from list

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

# from dict

In [8]:
sushi = {
    "Samon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}
pd.Series(sushi)

Samon    Orange
Tuna        Red
Eel       Brown
dtype: object

# from data + index

In [27]:
numbers = [30, 11, 23]
names = ["Steph", "Clay", "Draymond"]
pd.Series(data=names, index=numbers)

30       Steph
11        Clay
23    Draymond
dtype: object

# series methods

In [13]:
prices = pd.Series([2.99, 4.45, 1.36])

In [14]:
prices.sum()

8.8

In [15]:
prices.mean()

2.9333333333333336

# series attributes

In [17]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [18]:
adjectives.size

6

In [19]:
adjectives.is_unique

False

In [24]:
type(adjectives.values)

numpy.ndarray

In [21]:
for value in adjectives.values:
    print(value)

Smart
Handsome
Charming
Brilliant
Humble
Smart

In [23]:
for i in adjectives.index:
    print(adjectives.values[i])

Smart
Handsome
Charming
Brilliant
Humble
Smart