In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("data\pokemon.csv")

In [9]:
df.head()

         Name           Type
0   Bulbasaur  Grass, Poison
1     Ivysaur  Grass, Poison
2    Venusaur  Grass, Poison
3  Charmander           Fire
4  Charmeleon           Fire

In [10]:
df = pd.read_csv("data\pokemon.csv", usecols=["Name"])

In [11]:
df.head()

         Name
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon